.question {
    background-color: #f1f1f1;
    padding: 20px;
    margin-top: 20px;
  }
  .questionButtons {
    display: grid;
  }
  
  .questionButton {
    display: grid;
    font-size: 30px;
    height: 50px;
    color: white;
    align-items: center;
    background-color: blue;
  }
  
  .questionButtonsDivider {
    height: 20px;
  }
  